.top-image{
  height:400px;
  text-align: center;
  background-color:#E6E6E6;
  margin:0 auto;
  position:relative;
}
.pickup-container {
  .pickup-header {
    height: 200px;
    padding-top: 50px;
    .pickup-header__name {
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.4em;
    }
    .pickup-header__categoly {
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      ul {
        display: flex;
        list-style: none;
        justify-content: center; /* 子要素をflexboxにより中央に配置する */
        align-items: center;  /* 子要素をflexboxにより中央に配置する */
        li{
          margin: 10px 5px 0;
          background-color: rgb(239, 239, 239);
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
          border-radius: 15px;
          padding: 8px 16px;
        }
      }
    }
  }
  .pickup-contents{
    background-color: #f5f5f5;
    height:calc(100vh - 200px);
    .pickup-contents-box{
      max-width: 1020px;
      margin: 0 auto;
      padding: 42px 0px 100px;
      .pickup-contents__header{
        display: flex;
        justify-content: space-between;
        .pickup-contents__header-name{
          font-size: 24px;
          font-weight: 600;
          line-height: 1.4em;
        }
        .pickup-contents__header-more{
          float:right;
          font-size: 14px;
          padding: 5px 16px 5px 5px;
          a{
          color: rgb(0, 149, 238);
          }
        }
      }
      .pickup-contents__image{
        margin-top: 20px;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .pickup-content{
          height:200px;
          width: 15%;
          background-color: #ffffff;
          margin:10px;
          .content__box{
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            display: inline-block;
            position: relative;
            text-decoration: none;
            vertical-align: top;
          .price-box{
            z-index: 2;
            position: absolute;
            flex:inline-block;
            top: -30px;
            left: 0;
            padding: 4px 12px 4px 8px;
            border-radius: 0 16px 16px 0;
            font-weight: 600;
            font-size: 16px;
            color: #fff;
            background: #rgba(0,0,0,0.3)
            }
            .pickup-content__img{
              max-width: 100%;
              min-height: 80%;
            }
            .img_title{
            position: absolute;
            bottom: 50px;
            background: rgba(51,51,58,0.6);
            -webkit-border-radius: 0 30px 30px 0 / 0 30px 30px 0;
            -moz-border-radius: 0 30px 30px 0 / 0 30px 30px 0;
            border-radius: 0 30px 30px 0/ 0 30px 30px 0;
              .img_price{
                color: #ffffff;
                padding-left: 10px;
                padding-right: 10px;
              }
            }
            .text__box{
              box-sizing: border-box;
              color: #222;
              font-size: 14px;
              height: 20%;
              line-height: 1.4em;
              padding: 0px 12px;
              white-space: normal;
              word-break: break-word;

              .span{
                display: inline-block;
                height: 2.8em;
                overflow: hidden;
                position: relative;
                
              }
            }
          }
        }
      }
    }
  }
}
