.k_ir_single-container {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 96%);
  font-size: 14px;
  color: #333;
} 

.k_ir_header {
  height: 128px;
  width: 100%;
  &__title {
    text-align: center;
    line-height: 128px;
    padding: 20px 0 0 0;
  }
}

#brand-result {
  max-height: 200px;
  overflow: scroll;
  border: 1px solid #ccc;
}

.brand-list {
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  &:hover {
    background: #0099e8;
    color: white;
  }
}

.display-brand {
  margin-top: 30px;
}

.k_ir_wrapper {
  width: 100%;
}

.o_image-zone1, .o_image-zone2 {
  display: flex;
  img {
    width: 110px;
    height: 85px;
    object-fit: contain;
  }
}

.o_image-zone2-parent {
  display: none;
  margin-top: 10px;
}

#preview1, #preview2 {
  display: flex;
}

.o_image-label1, .o_image-label2 {
  width: 100%;
  height: 160px;
}

.o_file-field {
  display: none;
}

.add_img {
  background: #f5f5f5;
  border: 1px solid #eee;
  height: 160px;
  width: 110px;
  margin-right: 17px;
}

.img_area {
  padding-top: 30px;
  height: 70%;
}

.btn_wrapper {
  height: 30%;
  text-align: center;
  margin-top: 10px;
  a {
    color: #0099e8;
    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}

#seller_gain i{
  font-size: 34px;
  font-weight: bold;
}

.k_ir_section {
  width: 700px;
  background-color: white;
  margin: 0 auto;
  &__header {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
    border-bottom: 1px solid #f5f5f5;
  }
  &__inner {
    width: 100%;
    &--form {
      border-bottom: 1px solid #f5f5f5;
      padding: 40px;
      box-sizing: border-box;
      &-label {
        display: inline;
        font-weight: bold;
      }
      &-span {
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        display: inline;
      }
      &-sentence {
        margin: 5px 0;
      }
      &-input {
        height: 160px;
        margin: 0 auto;
        background-color: #f5f5f5;
        border: dashed 1px silver;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &-content {
          text-align: center;
        }
      }
    }
    &--form2 {
      border-bottom: 1px solid #f5f5f5;
      padding: 0 40px 40px;
      box-sizing: border-box;
      &-label {
        display: inline-block;
        margin-top: 30px;
        font-weight: bold;
      }
      &-span {
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        display: inline;
      }
      &-input {
        width: 100%;
        display: block;
        height: 48px;
        margin-top: 8px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        box-sizing: border-box;
      }
      &-textarea{
        width: 100%;
        height: 100px;
        margin-top: 8px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        box-sizing: border-box;
      }
    }
    &--form3 {
      border-bottom: 1px solid #f5f5f5;
      padding: 40px;
      box-sizing: border-box;
      display: flex;
      &-left {
        width: 40%;
        .k_ir_icon {
          color: #0099e8;
        }
      }
      &-right {
        width: 60%;
        &-label {
          display: inline-block;
          font-weight: bold;
          &:not(:first-child) {
            margin-top: 30px;
          }
        }
        &-span {
          background-color: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          display: inline;
          &-gray {
            background-color: #ccc;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            display: inline;
          }
        }
        &-select, select {
          width: 100%;
          display: block;
          height: 48px;
          margin-top: 10px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          box-sizing: border-box;
        } 
      }
    }
    &--form5 {
      border-bottom: 1px solid #f5f5f5;
      padding: 40px;
      box-sizing: border-box;
      display: flex;
      &-left {
        width: 40%;
        .k_ir_icon {
          color: #0099e8;
        }
      }
      &-right {
        width: 60%;
        .k_ir_right__content {
          height: 70px;
          border-bottom: 2px solid #f5f5f5;
          &--box--content {
            height: 40px;
            display: flex;
            justify-content: space-between;
          }
          &--left {
            line-height: 48px;
            &-label {
              display: inline;
              font-weight: bold;
            }
            &-span {
              background-color: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              display: inline;
            }
          }
          &--right {
            line-height: 48px;
            &-price {
              display: flex;
              &-input {
                width: 150px;
                display: block;
                height: 48px;
                margin: 0 0 40px 5px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
                box-sizing: border-box;
              } 
            }
          }
        }
        .k_ir_right__content--price {
          display: flex;
          justify-content: space-between;
          border-bottom: 2px solid #f5f5f5;
        }
        .k_ir_no_border {
          border-bottom: 2px solid white;
        }
      }
    }
    &--form6 {
      padding: 40px;
      .k_ir_link {
        color: #0099e8;
      }
      &-input-btn {
        height: 40px;
        width: 100%;
        color: white;
        background-color: #ea352d;
        border: none; 
        margin: 30px 0 0 0; 
      }
      .k_ir_gray-btn {
        width: 30%;
        background-color: gray;
        display: block;
        margin: 30px auto 0; 
      }
    }
  }
}

#seller_gain {
  font-size: 30px;
  font-weight: bold;
}

.error_zone {
  p {
    color: #ea352d;
  }
}












.product-exhibit{
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  .header{
    height: 128px;
    text-align: center;
    &__logo{
      a{
      width: 185px;
      line-height: 49px;
        img{
          margin: 40px 0 0;
          width: 180px;
          height: 50px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  &-main{
    background-color: #fff;
    width:700px;
    margin: 0 auto;
    h2{
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      font-weight: bold;

    }
    form{
      border-top: 1px solid #eee;
      .sell-upload-box {
        width: 620px;
        padding: 40px;
        h3{
          font-size: 16px;
          font-weight:bold;
          span{
            background: #ea352d;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
        }
        p{
          margin: 8px 0 0;
          line-height: 1.5;
        }
        .sell-dropbox-container {
          display: block;
          width: 620px;
          margin: 16px auto 0;
          .sell-upload-drop-box {
            position: relative;
            min-height: 162px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            font-size: 0;
            text-align: center;
            pre {
              position: absolute;
              top: 50%;
              left: 16px;
              right: 16px;
              text-align: center;
              font-size: 14px;
              line-height: 1.5;
              transform: translate(0, -50%);
              font-weight:bold;
          }
          }
        }
    }
    .sell-content{
      min-height:300px;
      border-top: 1px solid #eee;
      padding:40px 40px 0;
      div{
        input{
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
      textarea{
        margin: 8px 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
      .round-icon{
        margin-top:3px;
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
      }
      h3{
        color: #888;
        font-size: 14px;
        font-weight:bold;
      }
      .sell-form-box{
      width: 400px;
      margin: 0 0 0 auto;
      .select-wrap{
        margin: 8px 0 0;
        position: relative;
        i{
          position: absolute;
          right: 16px;
          top: 50%;
          z-index: 10;
          color: #888;
          font-size: 35px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
        select{
          width:100%;
          position: relative;
          z-index: 2;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;

        }
        #person_prefecture_id{
          width:100%;
          position: relative;
          z-index: 2;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;

        }
      }
      ul{
        li{
          padding: 0 0 24px;
          .clear-fix{
            display: flex;
            .bold{
              font-weight: bold;
            }
            .sell-price-title{
              width: 50%;
              line-height: 48px;
            }
            .sell-price-input{
              width: 50%;
              text-align: right;
              float: right;
              display: flex;
              margin-left: auto;
              p{
                margin: auto 0;
                font-weight: 200;
              }
              div{
                display: inline-block;
                width: 80%;
                margin: 0 0 0 5%;
                input{
                  text-align: right;
                }
              }
              .right{
                margin: auto 0;
                text-align: right;
              }
            }
            
          }
        }
      }
      }
    }
    .exhibit-btn{
      line-height: 1.5;
      font-size:14px;
      padding-bottom:40px;
      .link-blue{
        color: #0099e8;
        text-decoration: none;
      }
      .button{
        margin: 40px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
      }
    .back-btn{
      width: 45%;
      margin: 24px auto 0;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      display: block;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
    }
    }
    }
  }
  .signup__footer {
    background: #f5f5f5;
    height: 180px;
    text-align: center;
    &__detail {
      display: flex;
      justify-content: space-around;
      margin: 40px auto;
      width: 400px;
      font-size: 11px;
      letter-spacing: 1px;
      a {
        color: #111;
        &:hover {
          opacity: 0.6;
          text-decoration: underline;
        }
      }
    }
    &__logo img {
      width: 80px;
      height: 80px;
  
      &:hover {
        opacity: 0.7;
      }
    }
    p {
      font-size: 11px;
    }
  }
}

.form-group{
  margin: 0 0 40px;
  label{
    font-weight: 600;
    span{
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
  }
}
.price-group{
  label{
    font-weight: 600;
    span{
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
  }
}
.border{
  border-top: 1px solid #ccc;
}

.clearfix{
  display: flex;
}

.upload-image{
  display:none;
}
.dropzone-box{
  width: 100%;
  margin-left: 0;
  float: right;
  padding: 40px;
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  box-sizing:border-box;
  cursor: pointer;
  // @include transition;
}
.dropzone-box pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  pointer-events: none;
  word-wrap: break-word;
  // @include transform;
  font-weight:600;
  color: rgb(51, 51, 51);
  overflow: auto;
  white-space: pre-wrap;
}

#preview{
  display: flex;
}

.img_view{
  img{
    width:116px;
    height:162px;
  }
}