@import "reset";
@import "products/header";
@import "products/footer";
@import "products/index";
@import "products/sell-btn";
@import "logout";
@import "card/index";
@import "card/new";
@import "font-awesome";
@import "devise/new";
@import "variable/flex";
@import "variable/mixin";
@import "variable/variable";
@import "modules/mypage-sidebar";
@import "modules/mypage-TOP";
@import "modules/profile";
@import "modules/identification";

* {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.display_none {
  display: none;
}