.product-exhibit
  =render 'devise/shared/login_header'
  .product-exhibit-main
    %h2
      商品の情報の入力
    %form{action: "/products/create", method: "post"}
      .sell-upload-box
        %h3
          出品画像
          %span
            必須
        %p
          最大10枚までアップロードできます
        .sell-dropbox-container
          .sell-upload-drop-box
            %input{type: "file",name: "image"}
            %pre
              ドラッグアンドドロップ
              またはクリックしてファイルをアップロード
      .sell-content
        .form-group
          %label
            商品名
            %span
              必須
          %div
            %input{placeholder: "商品名(必須 40文字まで)"}
        .form-group
          %label
            商品の説明
            %span
              必須
          %textarea{rows:5,placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
      %div.sell-content.clearfix
        %h3
          商品の詳細
        .sell-form-box
          .form-group
            %label
              カテゴリー
              %span
                必須
            %div
            .select-wrap
              = collection_select :person, :prefecture_id, Prefecture.all, :id, :name
              %i.fa.fa-angle-down
          .form-group
            %label
              サイズ
              %span
                必須
          .form-group
            %label
              ブランド
              %span
                任意
          .form-group
            %label
              商品の状態
              %span
                必須

  =render 'devise/shared/login_footer'